# GENERAL SETTINGS
[General]
sensor_log_frequency = 24

# DEFINE SENSORS
[Sensor1]
name = "light sensor"
type = 0
actuator = 1
pin = 1

[Sensor2]
name = "temperature sensor"
type = 0
pin = 2

[Sensor3]
name = "vibration sensor"
type = 0
pin = 3

# DEFINE ACTUATORS
[Actuator1]
name = "heater"
type = 1
pin = 4
frequency = 0
length = 60
intensity = 10

[Actuator2]
name = "vibration motor"
type = 1
pin = 5
frequency = 5
length = 60
intensity = 10

[Actuator3]
name = "uv light"
type = 1
pin = 6
frequency = -1
length = 00                  
intensity = 10
